extends layout

block content
  h1= title
  .box
    h3 读取vhost
    textarea(id='J_httpd',rows='10',cols='100')
  form(action="/api/vhost/", method='post').box
    h3 添加vhost
    label
      input(type='text', name='name', autofocus)
    label
      input(type='text', name='root')
    label
      input(type='text', name='proxy', value='[{"path":"/","proxy":"http://127.0.0.1:3000/"},{"path":"/js","proxy":"http://127.0.0.1:3000/js"}]')
    input(type='submit')
  .box
    button(id='J_restart') 重启Apache
  .box
    h3 host操作
    textarea(id='J_host',rows='10',cols='100')
    br
    button(id='J_read') 读取host
    button(id='J_write') 写入host
  .box
    h3 vhost测试
    button(id='J_put') PUT
    button(id='J_delete') DELETE

block footer-js
  script(src='/js/jquery.min.js')
  script.
    //- $.getJSONP('/api/vhost/', function(json) {
    //-     console.log(json)
    //-   });
    $.ajax({
      url: '/api/vhost',
      type: 'get',
      dataType: 'jsonp',
      success: function(json) {
        //console.log(json);
        $('#J_httpd').val(JSON.stringify(json));
      }
    });
    $('#J_put').on('click', function() {
      $.ajax({
        url: '/api/vhost/localhost',
        type: 'put',
        dataType: 'jsonp',
        success: function(json) {
          console.log(json);
        }
      });
    });
    $('#J_delete').on('click', function() {
      $.ajax({
        url: '/api/vhost/qianshan.com',
        type: 'delete',
        dataType: 'jsonp',
        success: function(json) {
          console.log(json);
        }
      });
    });
    //重启apache
    $('#J_restart').on('click', function() {
      console.log('重启');
      $.ajax({
        url: '/api/apache/restart',
        type: 'post',
        dataType: 'jsonp',
        success: function(json) {
          console.log(json);
        }
      });
    });
    //host
    $('#J_read').on('click', function() {
      $.ajax({
        url: '/api/host',
        type: 'get',
        dataType: 'jsonp',
        success: function(json) {
          console.log(json);
          $('#J_host').val(json.data);
        }
      });
    });
    $('#J_write').on('click', function() {
      $.ajax({
        url: '/api/host',
        type: 'post',
        data: {
          content: $('#J_host').val()
        },
        dataType: 'jsonp',
        success: function(json) {
          console.log(json);
          $('#J_host').val(json.data);
        }
      });
    });

