extends layout

block content
    .container
        aside.sidebar
            ul#J_side_tab
                li
                    a(href='#J_tab_home', role='tab', data-toggle='tab')
                        span.glyphicon.glyphicon-home&nbsp;
                        | 控制台
                li
                    a(href='#J_tab_host', role='tab', data-toggle='tab')
                        span.glyphicon.glyphicon-list-alt&nbsp;
                        | HOST
                li
                    a(href='#J_tab_vhost', role='tab', data-toggle='tab')
                        span.glyphicon.glyphicon-send&nbsp;
                        | 虚拟主机
                li
                    a(href='#J_tab_dns', role='tab', data-toggle='tab')
                        span.glyphicon.glyphicon-retweet&nbsp;
                        | DNS
            .quick-action
                //button(type="button", data-toggle='tooltip', data-placement='bottom', title='检查Apache配置', id='J_apache_check', data-loading-text='检查中...').btn.btn-default 检查Apache
                input#J_ip(readonly, style='border: none; background-color: transparent; outline: none; font-size: 2em;')
                button(type="button", id='J_restart', data-loading-text='重启中...').btn.btn-primary 重启Apache
        section.main
            .tab-content
                #J_tab_home.tab-pane
                    h4 使用帮助
                    ul
                        li 
                            strong 修改host方法
                            p 1. 进入host修改页面，先点击读取，然后在编辑框修改host，修改完毕后点击保存即可.
                        li 
                            strong 新建虚拟主机本地访问方法
                            p 1. 进入虚拟主机管理页面，点击添加
                            p 2. 输入域名和本地路径，点击提交
                            p 3. 点击左栏的重启apache
                            p 4. host里面加入刚才的域名，指向127.0.0.1，保存
                            p 5. 浏览器访问刚加的域名
                        li 
                            strong 手机访问电脑的虚拟主机方法
                            p 1. 进入dns页面，添加一个虚拟主机已有域名，如demo.laiwang.com
                            p 2. 同局域网的手机设置dns为当前电脑ip
                            p 3. 手机访问demo.laiwang.com
                        li 
                            strong 虚拟主机的反向代理配置方法
                            p
                                i 先确保已经设置dns和虚拟主机
                            p 1. 本地开启调试环境，如http://localhost:9000/
                            p 2. 虚拟主机添加反向代理，如： /   http://localhost:9000/
                            p 3. 手机访问之前配置的域名
                        li
                            strong DNS设置方法
                            p 支持以下3种配置方式：
                                
                                br
                                code demo.laiwang.com
                                | 将demo.laiwang.com代理到本机
                                br
                                code demo.laiwang.com demo2.laiwang.com
                                | 将demo.laiwang.com demo2.laiwang.com 代理到本机
                                br
                                code 10.68.108.15 demo.laiwang.com demo2.laiwang.com
                                | 将demo.laiwang.com demo2.laiwang.com代理到10.68.108.15
                    h4 常见问题
                    ul
                        li 待添加...
                #J_tab_host.tab-pane
                    h3 host操作
                    textarea.form-control(id='J_host',rows='20',cols='100')
                    br
                    button.btn.btn-default(id='J_read', data-loading-text='读取中') 读取
                    button.btn.btn-primary(id='J_write') 保存
                #J_tab_vhost.tab-pane
                    .row
                        .col-md-12
                            table.table.table-striped.table-bordered
                                caption 虚拟主机列表
                                thead
                                    tr
                                        th 域名
                                        th 本地路径
                                        th 操作
                                tbody#J_vhost_list
                            .well       
                                button.btn.btn-primary#J_vhost_add 添加
                    div
                        h3 vhost源码
                        textarea.form-control(id='J_vhost',rows='20',cols='100')
                        br
                        button.btn.btn-default(id='J_btn_read_vhost', data-loading-text='读取中') 读取vhost
                        button.btn.btn-primary(id='J_btn_write_vhost') 写入vhost
                #J_tab_dns.tab-pane
                    h3 DNS管理
                    textarea.form-control(id='J_textarea_dns',rows='20',cols='100')
                    br
                    button.btn.btn-default(id='J_dns_read', data-loading-text='读取中') 读取DNS
                    button.btn.btn-primary(id='J_dns_write') 写入DNS并重启
    //vhost条目模板
    script(type='x-tmpl-mustache', id='J_tmpl_vhost_item')
        | {{#data}}
        tr(data-name='{{name}}', data-root='{{root}}', data-proxy='{{_proxy}}', data-input='{{input}}')
            td {{name}}
            td {{root}}
            td
                .action
                    a.btn.btn-sm.btn-info.J_edit(href='#')
                        span.glyphicon.glyphicon-pencil
                    a.btn.btn-sm.btn-danger.J_delete(href='#')
                        span.glyphicon.glyphicon-remove
        | {{/data}}
    //vhost表单模板
    script(type='x-tmpl-mustache', id='J_tmpl_vhost_form')
        form.form-horizontal(action="/api/vhost/", method='post')
            .form-group
                label.control-label.col-md-2 域名
                .col-md-6
                    input.form-control(type='text', name='name', required, value='{{name}}')
            .form-group
                label.control-label.col-md-2 本地路径
                .col-md-6
                    input.form-control(type='text', name='root', required, value='{{root}}')
            .form-group
                label.control-label.col-md-2 反向代理
                .col-md-10
                    .panel.panel-default
                        .panel-heading
                            .row
                                .col-md-4
                                    | 路径
                                .col-md-6
                                    | 代理地址
                                .col-md-2
                                    | 操作
                        .panel-body
                            ul.list-group.list-no-border.J_proxy_list
                                | {{#proxys}}
                                | {{> body}}
                                | {{/proxys}}
                            button.btn.btn-info.btn-xs.J_add(type='button') 添加
            //- .form-group
            //-     label.control-label.col-md-2 AliasMatch
            //-     .col-md-10
            //-         .panel.panel-default
            //-             .panel-heading
            //-                 .row
            //-                     .col-md-4
            //-                         | 规则
            //-                     .col-md-6
            //-                         | 本地路径
            //-                     .col-md-2
            //-                         | 操作
            //-             .panel-body
            //-                 ul.list-group.list-no-border.J_alias_list
            //-                 button.btn.btn-info.btn-xs(type='button') 添加
            //- .form-group
            //-     label.control-label.col-md-2 RedirectMatch
            //-     .col-md-10
            //-         .panel.panel-default
            //-             .panel-heading
            //-                 .row
            //-                     .col-md-4
            //-                         | 规则
            //-                     .col-md-6
            //-                         | 远程路径
            //-                     .col-md-2
            //-                         | 操作
            //-             .panel-body
            //-                 ul.list-group.list-no-border.J_redirect_list
            //-                 button.btn.btn-info.btn-xs(type='button') 添加
    
    //proxy模板
    script(type='x-tmpl-mustache', id='J_tmpl_proxy_item')
        li.list-group-item
            .row
                .col-md-4
                    input.form-control(type='text', name='proxyDir', value='{{dir}}')
                .col-md-6
                    input.form-control(type='text', name='proxyPath', value='{{path}}')
                .col-md-2
                    a.btn.btn-xs.btn-danger.J_delete(href='#')
                        span.glyphicon.glyphicon-remove
block footer-js
    script(src='/js/mustache.js')
    script(src='/js/index.js')


