extends layout

block content
    .container
        aside.sidebar
            ul#J_side_tab
                li.active
                    a(href='#J_tab_home', role='tab', data-toggle='tab')
                        span.glyphicon.glyphicon-home&nbsp;
                        | 控制台
                li
                    a(href='#J_tab_host', role='tab', data-toggle='tab')
                        span.glyphicon.glyphicon-list-alt&nbsp;
                        | HOST
                li
                    a(href='#J_tab_vhost', role='tab', data-toggle='tab')
                        span.glyphicon.glyphicon-send&nbsp;
                        | 虚拟主机
                li
                    a(href='#J_tab_dns', role='tab', data-toggle='tab')
                        span.glyphicon.glyphicon-retweet&nbsp;
                        | DNS
        section.main
            .tab-content
                #J_tab_home.tab-pane.active
                    .ip
                        p 当前IP：
                            input#J_ip(readonly, style='border: none; background-color: transparent; outline: none; font-size: 48px;')
                        p
                            button.btn.btn-primary(id='J_restart', data-loading-text='重启中...') 重启Apache
                #J_tab_host.tab-pane
                    h3 host操作
                    textarea.form-control(id='J_host',rows='10',cols='100')
                    br
                    button.btn.btn-default(id='J_read', data-loading-text='读取中') 读取host
                    button.btn.btn-primary(id='J_write') 写入host
                #J_tab_vhost.tab-pane
                    .row
                        .col-md-12
                            table.table.table-striped.table-bordered
                                caption 虚拟主机列表
                                thead
                                    tr
                                        th 域名
                                        th 本地路径
                                        th 操作
                                tbody#J_vhost_list
                            .well       
                                button.btn.btn-primary#J_vhost_add 添加一条记录
                    div
                        h3 vhost源码
                        textarea.form-control(id='J_vhost',rows='10',cols='100')
                        br
                        button.btn.btn-default(id='J_btn_read_vhost', data-loading-text='读取中') 读取vhost
                        button.btn.btn-primary(id='J_btn_write_vhost') 写入vhost
                #J_tab_dns.tab-pane
                    h3 DNS管理
                    textarea.form-control(id='J_textarea_dns',rows='10',cols='100')
                    br
                    button.btn.btn-default(id='J_dns_read', data-loading-text='读取中') 读取DNS
                    button.btn.btn-primary(id='J_dns_write') 写入DNS并重启
    //vhost条目模板
    script(type='x-tmpl-mustache', id='J_tmpl_vhost_item')
        | {{#data}}
        tr(data-name='{{name}}', data-root='{{root}}', data-proxy='{{_proxy}}', data-input='{{input}}')
            td {{name}}
            td {{root}}
            td
                .action
                    a.btn.btn-sm.btn-info.J_edit(href='#')
                        span.glyphicon.glyphicon-pencil
                    a.btn.btn-sm.btn-danger.J_delete(href='#')
                        span.glyphicon.glyphicon-remove
        | {{/data}}
    //弹窗模板
    script(type='x-tmpl-mustache', id='J_tmpl_modal_dialog')
        .modal.fade(tabindex='-1', role='dialog')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                        h4.modal-title {{title}}
                    .modal-body
                        | {{&body}}
                    .modal-footer
                        {{#close}}
                        button.btn.btn-default(type='button', data-dismiss='modal') {{close}}
                        {{/close}}
                        button.btn.btn-primary.J_submit(type='button') {{ok}}
    //vhost表单模板
    script(type='x-tmpl-mustache', id='J_tmpl_vhost_form')
        form.form-horizontal(action="/api/vhost/", method='post')
            .form-group
                label.control-label.col-md-2 域名
                .col-md-6
                    input.form-control(type='text', name='name', required, value='{{name}}')
            .form-group
                label.control-label.col-md-2 本地路径
                .col-md-6
                    input.form-control(type='text', name='root', required, value='{{root}}')
            .form-group
                label.control-label.col-md-2 反向代理
                .col-md-10
                    .panel.panel-default
                        .panel-heading
                            .row
                                .col-md-4
                                    | 路径
                                .col-md-6
                                    | 代理地址
                                .col-md-2
                                    | 操作
                        .panel-body
                            ul.list-group.list-no-border.J_proxy_list
                                | {{#proxys}}
                                | {{> body}}
                                | {{/proxys}}
                            button.btn.btn-info.btn-xs.J_add(type='button') 添加
            //- .form-group
            //-     label.control-label.col-md-2 AliasMatch
            //-     .col-md-10
            //-         .panel.panel-default
            //-             .panel-heading
            //-                 .row
            //-                     .col-md-4
            //-                         | 规则
            //-                     .col-md-6
            //-                         | 本地路径
            //-                     .col-md-2
            //-                         | 操作
            //-             .panel-body
            //-                 ul.list-group.list-no-border.J_alias_list
            //-                 button.btn.btn-info.btn-xs(type='button') 添加
            //- .form-group
            //-     label.control-label.col-md-2 RedirectMatch
            //-     .col-md-10
            //-         .panel.panel-default
            //-             .panel-heading
            //-                 .row
            //-                     .col-md-4
            //-                         | 规则
            //-                     .col-md-6
            //-                         | 远程路径
            //-                     .col-md-2
            //-                         | 操作
            //-             .panel-body
            //-                 ul.list-group.list-no-border.J_redirect_list
            //-                 button.btn.btn-info.btn-xs(type='button') 添加
    
    //proxy模板
    script(type='x-tmpl-mustache', id='J_tmpl_proxy_item')
        li.list-group-item
            .row
                .col-md-4
                    input.form-control(type='text', name='proxyDir', value='{{dir}}')
                .col-md-6
                    input.form-control(type='text', name='proxyPath', value='{{path}}')
                .col-md-2
                    a.btn.btn-xs.btn-danger.J_delete(href='#')
                        span.glyphicon.glyphicon-remove
block footer-js
    script(src='/js/mustache.js')
    script(src='/js/index.js')


