extends layout

block content
	.container
		.row
			.col-md-12
				//h3 读取vhost
				//textarea.form-control(id='J_httpd',rows='10',cols='100') 
		
		.well
			button.btn.btn-primary(id='J_restart', data-loading-text='重启中...') 重启Apache
		.well
			h3 host操作
			textarea.form-control(id='J_host',rows='10',cols='100')
			br
			button.btn.btn-info(id='J_read', data-loading-text='读取中') 读取host
			button.btn.btn-danger(id='J_write') 写入host
		.row
			.col-md-12
				table.table.table-striped.table-bordered
					caption 虚拟主机列表
					thead
						tr
							th 域名
							th 本地路径
							th 操作
					tbody#J_vhost_list
				.well		
					button.btn.btn-primary(data-toggle='modal', data-target='#J_modal_add_vhost') 添加一条记录
	#J_modal_add_vhost.modal.fade(tabindex='-1', role='dialog')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(data-dismiss='modal') &times;
					h4.modal-title 添加vhost
				.modal-body
					form.form-horizontal(action="/api/vhost/", method='post')
						.form-group
							label.control-label.col-md-2 Name
							.col-md-6
								input.form-control(type='text', name='name', required)
						.form-group
							label.control-label.col-md-2 Root
							.col-md-6
								input.form-control(type='text', name='root', required)
						.form-group
							label.control-label.col-md-2 反向代理
							.col-md-10
								.panel.panel-default
									.panel-heading
										.row
											.col-md-2
												| 路径
											.col-md-8
												| 代理地址
									.panel-body
										ul.list-group
											li.list-group-item
												.row
													.col-md-2
														input.form-control(type='text', name='proxyDir', value='/')
													.col-md-6
														input.form-control(type='text', name='proxyPath', value='http://127.0.0.1:3000/')
													.col-md-2
														a.btn.btn-xs.btn-danger(href='#')
															span.glyphicon.glyphicon-remove
										button.btn.btn-info.btn-xs(type='button') 添加
				.modal-footer
					button.btn.btn-default(data-dismiss='modal') close
					button.btn.btn-primary.J_submit 提交

	script(type='x-tmpl-mustache', id='J_tmpl_vhost_item')
		{{#data}}
		tr(data-name='{{name}}', data-root='{{root}}', data-proxy='{{_proxy}}', data-input='{{input}}')
			td {{name}}
			td {{root}}
			td
				a.btn.btn-sm.btn-info(href='#')
					span.glyphicon.glyphicon-pencil
				a.btn.btn-sm.btn-danger.J_delete(href='#')
					span.glyphicon.glyphicon-remove
		{{/data}}

block footer-js
	script(src='/js/mustache.js')
	script(src='/js/index.js')


