td .action .btn{
    margin-right: 5px;
}
.list-group-item .btn{
    position: relative;
    top: 6px;
}
.ip{
    margin-top: 15px;
}
.list-no-border{

}
.list-no-border .list-group-item{
    border: none;
    padding-left: 0;
    padding-right: 0;
}